rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.uid == 'qfLE5Gd4r7Oemv43LCBm8X4Ccjw1';
    }

    match /players/{playerId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /countries/{countryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /matches/{matchId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /activity_feed/{activityId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /site_settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
